*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;

    background-color: rgba(107, 197, 167, 0.787);
}

.main-wrapper{
    background-color: white;
    color: black;

    font-size: 25px;

    width: 400px;
    height: 500px;

    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10px;
}

.title{
    font-size: 38px;
}

.text-fields-wrapper{

}

.text-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trash-btn{
    border: none;
    border-radius: 10px;
    
    width: 45px;
    height: 55px;

    padding: 0 auto;
}

.trash-btn > img{
    width: 45px;
    transition: all 0.1s;
    padding: 0 auto;
}

.trash-btn:active{

}

.trash-btn > img:active{
    
}

input{
    border-radius: 7px;
    border: solid 1px black;
    font-size: 19px;
    padding: 4px 4px;
    margin-right: 8px;
    outline: none;
}

.btn-wrapper{

}

button{
    border-radius: 3px;
    border: solid 1px black;
    font-size: 19px;
    padding: 2px 4px;
    outline: none;

    cursor: pointer;

    background-color: white;
    color: black;
}

button:active{

}

.tasks-wrapper{
    display: flex;
    flex-direction: row;

    font-size: 19px;
}

.task-wrapper{
    padding: 10px 5px;
    border: solid 1px black;
    border-radius: 1px;
    background-color: rgba(253, 168, 110, 0.356);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-number{

}

.task-timer{

}

.stop-btn{

}